
# Media files
media/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
# Django
db.sqlite3
media/downloads/
test_ffmpeg.py
cache/
download/cookies/cookies_tiktok.txt
env/
staticfiles/
 download/cookies/cookies_youtube.txt
